<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.womai.m.mip"></context:component-scan>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:properties/application.properties</value>
                <value>classpath:properties/site.properties</value>
                <value>classpath:properties/redis.properties</value>
                <value>classpath:properties/activity.properties</value>
                <value>classpath:properties/db.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="UTF-8" />
    </bean>

    <!--<import resource="classpath*applicationContext-common.xml"/>
    <import resource="classpath*:applicationContext-manager.xml"/>
    <import resource="classpath*:applicationContext-service.xml"/>-->
    <import resource="classpath*:applicationContext-channel.xml"/>
    <import resource="classpath*:applicationContext-schedule.xml"/>
    <import resource="classpath*:applicationContext-redis.xml"/>
    <import resource="classpath*:applicationContext-dao.xml"/>


</beans>