<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.womai.m.mip.dao.test.UserInfoMapper">

    <insert id="insertUserInfo" parameterType="com.womai.m.mip.domain.test.UserInfo">
        insert into userinfo
        (
        id, age, gender, company
        )
        values (
        #{id,jdbcType=INTEGER},
        #{age,jdbcType=INTEGER},
        #{gender,jdbcType=INTEGER},
        #{company,jdbcType=VARCHAR}
        )
    </insert>


</mapper>